html {
  background-image: linear-gradient(to right, #F0F0F0, #FAFAFA, #F0F0F0);
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

div.container {
    max-width: 900px;
    margin: 0 auto;
}

div.container2 {
  max-width: 1200px;
  margin-top: 40px;
  margin: 0 auto;
  text-align: center;
}

div.entry, div.entryln {
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
}

p.just {
  text-align: justify;
}

div.entry:hover {
  background-color: #E1E1E1;
}

div.entryln:hover {
  background-color: #CCABF7;
}

p.raw, p.script {
  font-family: "Andale Mono", monospace;
  word-break: break-all;
  border: solid 1px black;
  padding: 8px;
  text-align: left;
  background-color: #D4D4D4;
}

p.raw {
  font-size: small;
}

p.script > a {
  text-decoration: none;
  color: blue;
}

td > div {
  height: 15px;
  width: 15px;
  transform: translateX(14px);
}

div.ver, div.amount{background-color: red;}
div.segwitmark, div.nofout, div.prevbl{background-color: black;}
div.segwitflag, div.witness, div.merkle{background-color: blue;}
div.nofin, div.locktime{background-color: yellow;}
div.prevtx, div.pub, div.time{background-color: green;}
div.previn, div.bits{background-color: purple;}
div.sig{background-color: gray;}
div.seq, div.nonce{background-color: cyan;}

span.ver, span.amount{color: red;}
span.segwitflag, span.witness, span.merkle{color: blue;}
span.nofin, span.locktime{color: yellow;background-color:black}
span.prevtx, span.pub, span.time{color: green;}
span.previn, span.bits{color: purple}
span.sig{color: gray;}
span.seq, span.nonce{color: cyan;background-color:black}

footer {
  text-align: center;
  background-color: #eaecef;
  padding: 1px;
  margin: 0 -8px -8px -8px;
  border-top: solid 1px #4d4d4d;
}

div.tw {
  margin-bottom: 10px;
}

a.license:hover, a.tw:hover {
  opacity: 0.5;
}

a.license {
  padding-left: 25px;
}

a.license > img {
  padding-bottom: 5px;
}

header {
  border-bottom: 1px solid #eaecef;
  text-align: center;
  margin-bottom: 14px;
}

div.menu {
  text-align: center;
  padding: 0 0 10px 0;
}

div.menu > button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-decoration: none;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding:2px 6px 2px 4px;
  background-color: inherit;
  border: 0;
  font-size: 1em;
}

div.menu > button:hover {
  color: #888;
}

.dot {
  height: 0.6em;
  width: 0.6em;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px 0 10px;
}

div.dropdown-content {
  padding: 10px 0 20px 0;
  display: none;
  text-align: center;
  background: gainsboro;
  border-left: dotted white;
  border-right: dotted white;
  margin-left: 10%;
  margin-right: 10%;
}

div.show {
  display: block;
}

h1 > a {
  text-decoration: none;
}

div.h2 {
  width: 100%;
}

div.fig {
  display: flex;
  justify-content: center;
}

h2 {
  display: inline;
}

h2.short, h2.price {
  float: right;
  font-size: initial;
  font-style: italic;
  margin-top: 0;
  color: #555;
}

h2.price {
  color: #f7931a;
}

h2.price > span {
  vertical-align: super;
}

img.pricetag {
  padding-right: 5px;
  color: #f7931a;
}

h3 {
  padding-left: 20px;
}

figure { 
  display: table; 
  text-align: center;
  border: solid 1px #8D8D8D;
}

figcaption { 
  display: table-caption; 
  caption-side: bottom ; 
  background-color: #f2f2f2;
  margin-top: -5px;
  padding: 5px;
  border: solid 1px #8D8D8D;
  border-top: none;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

td, th {
  border: 1px solid #aaa;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dadada;
}

tr:nth-child(odd) {
  background-color: #FAFAFA;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7931a;
  color: white;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

a.warp {
  color: #f7931a;
  text-decoration: none;
}

a.warp:hover {
  color: #623A0A;
}

a.key {
  color: gray;
  text-decoration: none;
}

a.key:hover {
  color: black;
}

.area {
    background:#fff;
    display:block;
    height:165px;
    opacity:0;
    position:absolute;
    width:165px;
}

div.ana-link {
  text-align: right;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

div.ana-link > p > a {
  text-decoration: none;
  color:#623A0A;
}

div.ana-link > p > a:hover {
  text-decoration: underline;
  color:black;
}

img[src*="../img/lol.png"] {
  margin-bottom: -1px;  
}

div.undernotes {
  border-top: solid 1px black;
  text-align: left;
}

p.note {
  font-size:x-small;
}

a.lit {
  color: blue;
  text-decoration: none;
}

a.lit:hover {
  text-decoration: underline;
}

ul.article {
  margin-left: 20px;
  text-align: left;
}

iframe.donate {
  margin-top: 50px;
  margin-bottom: 50px;
  min-width: 680px;
  min-height: 660px;
  border: 1px solid #1f2234;
}

figure > img {
  width: 100%;
  height: auto;
}

img.meme {
  width: 500px;
  height: 500px;
}

span.inf{
  font-family: "Segoe Print";
}

a#luke{margin-left: 165px;}
a#nick{margin-left: 330px;}
a#pieter{margin-top: 165px;}
a#poo{margin-left: 165px;margin-top: 165px;}
a#hal{margin-left: 330px;margin-top: 165px;}
a#back{margin-top: 330px;}
a#dorian{margin-left: 165px;margin-top: 330px;}
a#greg{margin-left: 330px;margin-top: 330px;}
a#anto:hover ~ figcaption > span.anto{color: #f7931a;}
a#luke:hover ~ figcaption > span.luke{color: #f7931a;}
a#nick:hover ~ figcaption > span.nick{color: #f7931a;}
a#pieter:hover ~ figcaption > span.pieter{color: #f7931a;}
a#poo:hover ~ figcaption > span.poo{color: red;}
a#hal:hover ~ figcaption > span.hal{color: #f7931a;}
a#back:hover ~ figcaption > span.back{color: #f7931a;}
a#dorian:hover ~ figcaption > span.dorian{color: #f7931a;}
a#greg:hover ~ figcaption > span.greg{color: #f7931a;}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 24px;
  }

  a.area {
    display: none;
  }

  table {
    font-size: small;
  }

  td.long {
    word-wrap: break-word;
    max-width: 200px;
  }

  td.long2 {
    word-wrap: break-word;
    max-width: 100px;
  }

  ul.article {
    word-wrap: break-word;
  }

  p.just {
    word-wrap: break-word;
  }

  iframe.donate {
    min-width: 0;
  }

  img.meme {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  h2.short, h2.price > span {
    font-size: small;
  }
}
