html {
  background-image: linear-gradient(to right, #F0F0F0, #FAFAFA, #F0F0F0);
}

body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

div.container {
    max-width: 1200px;
    margin: 0 auto;
    min-width: 720px;
    text-align: center;
}

p.just {
  text-align: justify;
  font-size: small;
}
div.entry
{
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
}

div.entry:hover{
  background-color: #E1E1E1;
}

p.raw, p.script {
  font-family: "Andale Mono", monospace;
  word-break: break-all;
  border: solid 1px black;
  padding: 8px;
  background-color: #D4D4D4;
  font-size: small;
  text-align: left;
}

p.script > a{
  text-decoration: none;
  color: blue;
}

td > div{
  height: 15px;
  width: 15px;
  transform: translateX(14px);
}

div.ver, div.amount{background-color: red;}
div.segwitmark, div.nofout, div.prevbl{background-color: black;}
div.segwitflag, div.witness, div.merkle{background-color: blue;}
div.nofin, div.locktime{background-color: yellow;}
div.prevtx, div.pub, div.time{background-color: green;}
div.previn, div.bits{background-color: purple;}
div.sig{background-color: gray;}
div.seq, div.nonce{background-color: cyan;}

span.ver, span.amount{color: red;}
span.segwitflag, span.witness, span.merkle{color: blue;}
span.nofin, span.locktime{color: yellow;background-color:black}
span.prevtx, span.pub, span.time{color: green;}
span.previn, span.bits{color: purple}
span.sig{color: gray;}
span.seq, span.nonce{color: cyan;background-color:black}


footer{
  text-align: center;
  background-color: #eaecef;
  padding: 1px;
  margin: 0 -8px -8px -8px;
  border-top: solid 1px #4d4d4d;
}

div.mail, div.h1{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

div.cc0
{
  float: right;
  padding-top: 26px;
  padding-right: 5%;
}

header
{
  height: 60px;
  border-bottom: 1px solid #eaecef;
  text-align: center;
  padding-bottom:20px;
}

h1 > a {
  text-decoration: none;
}

div.h2{
  width: 100%;
}

div.fig
{
  display: flex;
  justify-content: center;
}

h2.short{
  float: right;
  font-size: initial;
  font-style: italic;
  margin-top: 0;
  color: #555;
}

h3{
  padding-left: 20px;
}

figure { 
  display: table; 
  text-align: center;
  border: solid 1px #8D8D8D;
}

figcaption { 
  display: table-caption; 
  caption-side: bottom ; 
  background-color: #f2f2f2;
  margin-top: -5px;
  padding: 5px;
  border: solid 1px #8D8D8D;
  border-top: none;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

td, th {
  border: 1px solid #aaa;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dadada;
}

tr:nth-child(odd) {
  background-color: #FAFAFA;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7931a;
  color: white;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

a.warp {
  color: #f7931a;
  text-decoration: none;
}

img[src*="../img/lol.png"]
{
  margin-bottom: -1px;  
}

div.undernotes {
  border-top: solid 1px black;
  text-align: left;
}

p.note
{
  font-size:x-small;
}

a.lit {
  color: blue;
  text-decoration: none;
}

a.lit:hover {
  text-decoration: underline;
}

ul.article {
  margin-left: 20px;
  text-align: left;
  font-size: small;
}